@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 11vh;
  position: sticky;
  top: 0;
  background-color: saddlebrown;
  color: darkorange;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

nav {
  display: flex;
  font-size: large;
}

.header-links {
  text-decoration: none;
  color: inherit;
}

.header-links:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 78vh;
  background-color: papayawhip;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 100%;
  background-color: saddlebrown;
  color: darkorange;
  margin: auto;
}
