.recipeIdPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.recipeSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.recipeSection h2 {
  font-size: x-large;
  font-weight: bold;
}

.recipeSection h3 {
  font-size: large;
  font-weight: bold;
}

.commentFormSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.commentFormSection h3 {
  font-size: large;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  width: 50%;
  align-self: center;
}

.input {
  margin-bottom: 0.5rem;
  height: 1.75rem;
  background-color: seashell;
  border: 1px solid black;
  border-radius: 8px;
  width: 50%;
  align-self: center;
  padding-left: 0.5rem;
}

.submitButton {
  width: 6rem;
  height: 2rem;
  align-self: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background-color: seashell;
}

.commentSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.commentSection h3 {
  font-size: large;
  text-align: center;
  text-align: center;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  width: 40%;
  justify-content: center;
  background-color: darkorange;
  border-radius: 12px;
}

.comment p {
  padding-top: 0.5rem;
  text-align: center;
}

.deleteButton {
  width: 6rem;
  height: 2rem;
  align-self: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  background-color: crimson;
  color: white;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
